.form {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
}


#signupDiv {
  display: none;

}

.form{
  border: 1px solid teal;
  padding: 20px 30px;
  margin-top: 50px;
}
.form>:nth-child(n+2){
    padding: 20px;
    font-size: 1.1rem;
    margin-top: 10px;
}
.formh3{
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: teal;
}
.form button{
  width: 50%;
  margin: auto;
}


#leaderBoard {
  display: none;
}

#signbutton {
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
#signbutton button {
  background-color: teal;
  font-size: 1.4rem;
  padding: 10px 20px;
  border-radius: 20px;
  border-color: teal;
  color: white;
  cursor: pointer;
}

#signbutton button:hover {
  color: teal;
  background-color: white;
}
